/* BASIC RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f7f9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  width: 100%;
  padding: 1.2rem;
}

.container h1 {
  color: #333;
  margin-bottom: 20px;
}

.container .board {
  display: flex;
  justify-content: space-around;
  align-items: start;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.board .list {
  background-color: #e3e4e8;
  padding: 1rem;
  border-radius: 10px;
  width: 30%;
  min-height: 400px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.list h2 {
  color: #555;
  margin-bottom: 1rem;
}

.list .card {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 1rem;
  border-radius: 10px;
  font-weight: 600;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: grab;
}

.list .card:active {
  cursor: grabbing;
}
